body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

/* 头部 */
.App .ant-layout-header {
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.App .ant-layout-header .ant-dropdown-link {
  padding-right: 20px;
}
.App .App-logo {
  width: 40px;
}
/* 侧边 */
.ant-layout {
  height: 100%;
}

.comment-wrapper {
  width: 500px;
  margin: 10px auto;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #f1f1f1;
  padding: 20px;
}

.header-container .header-right {
  display: flex;
  justify-content: space-between;
  line-height: 1;
}
.header-container .header-timer {
  display: flex;
  flex-direction: column;
}
